<!-- {% for produto in produtos %}
<h1>{{ produto.name }}</h1>
{% endfor %} -->

{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>

<body>

    <header>
        <nav class="navbar">
            <label class="">Stock ADS</label>
            <li><a class="dropdown-item" href="{% url 'in-stock' %}">Em estoque</a></li>
            <li><a class="dropdown-item" href="{% url 'fora-stock' %}">Sem estoque</a></li>
            <!-- <li><a class="dropdown-item" href="{% url 'home' %}"></a>Estoque total</li> -->
            <form action="{% url 'search-product' %}">
                <input type="search" name="q">
                <button>Buscar</button>
            </form>
        </nav>
    </header>

    <a href="{% url 'add_product' %}" class="">
        <button id="adicionarProduto">Adicionar Produto</button>
    </a>

    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>quantidade</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
                <tr>
                    <td>{{ produto.cod }}</td>
                    <td>
                        <a href="{% url 'product-detail' produto.id %}">{{ produto.name }}</a>
                    </td>
                    <td>{{ produto.price }}</td>
                    <td>{{ produto.qtd }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>